@font-face {
	font-family: 'tt-firs-neu';
	font-style: normal;
	font-weight: 100-900;
	font-display: swap;
	src: url('/fonts/tt-firs-neue-gx.woff2') format('woff2');
}

@font-face {
	font-family: 'tt-firs-neu';
	font-style: italic;
	font-weight: 100-900;
	font-display: swap;
	src: url('/fonts/tt-firs-neue-italic-gx.woff2') format('woff2');
}
