@font-face {
	font-family: 'holtwoodonesc';
	font-style: normal;
	font-weight: 100-900;
	font-display: swap;
	src: url('/fonts/holtwoodonesc-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto-mono';
	font-style: normal;
	font-weight: 100-900;
	font-display: swap;
	src: url('/fonts/roboto-mono-var-wght.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto-mono';
	font-style: italic;
	font-weight: 100-900;
	font-display: swap;
	src: url('/fonts/roboto-mono-italic-var-wght.woff2') format('woff2');
}
